html {
  background: #000000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  display: flex;
}

@media screen and (max-width: 500px) {
  .main {
    flex-wrap: wrap;
  }
}
